@charset "UTF-8";

/* Кольори */

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("../fonts/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Скидання стилів */

/* Скидання маргінів та відступів */

html,
body,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* Скидання списків */

ul,
ol {
  list-style: none;
}

/* Скидання гіперпосилань */

a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
}

/* Скидання форм */

button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

/* Скидання розмірів зображень */

img {
  max-width: 100%;
  height: auto;
}

/* Скидання вирівнювання вертикальних форм елементів */

input[type=checkbox],
input[type=radio],
input[type=file] {
  vertical-align: middle;
}

/* Базові стилі */

/* Загальні налаштування */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  height: 100vh;
  font-style: normal;
}

body {
  background: #fbfffe;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 64px;
  margin: 0 auto;
}

/* Стилі для скроллу в Chrome та Safari */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #25313c;
  border-radius: 4px;
  max-height: 350px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Стилі для скроллу в Mozilla Firefox */

/* Ширина і висота скроллбара */

* {
  scrollbar-width: thin;
  scrollbar-color: #f5f5f5;
}

/* Стилі для кільця вокруг пальця при торканні */

*::-webkit-scrollbar-thumb:active {
  background-color: #25313c;
}

/* Стилі для фону скроллбара */

*::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

#header {
  background: #1c1c1c;
  width: 100%;
}

#header .container {
  padding: 0 27px 0 64px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 23px 0 22px 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fbfffe;
  height: 79px;
}

.header__nav-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fbfffe;
  height: 80px;
}

.header__nav-item.active {
  border-bottom: 1px solid #fbfffe;
}

.header__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  font-size: 16px;
  color: #fbfffe;
}

.mobile__nav {
  display: none;
}

.mobile__nav-item.active {
  border-bottom: 1px solid #fbfffe;
}

#menu {
  position: absolute;
  width: 100%;
  top: 80px;
  background-color: #1c1c1c;
  padding: 23px 0 32px 0;
  z-index: 100;
}

#menu .container {
  padding: 0 27px 0 64px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 18px;
}

.menu__item-img {
  width: 172px;
  height: 153px;
}

.menu__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.menu__item-info h5 {
  font-family: "Ubuntu", sans-serif;
  color: #fbfffe;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 24px;
}

.menu__item-info p {
  font-family: "Ubuntu", sans-serif;
  white-space: nowrap;
  color: rgba(251, 255, 254, 0.9);
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: -0.32px;
}

.menu__item-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  margin-left: auto;
}

.menu__item-btn .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  white-space: nowrap;
  width: 199px;
  height: 48px;
  color: #fbfffe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 20px;
  border: 1px solid #fbfffe;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.menu__item-btn .btn:hover {
  background-color: #fbfffe;
  color: #1c1c1c;
}

.menu__item-btn .btn:hover svg {
  fill: #1c1c1c;
}

.menu__item-btn .btn svg {
  fill: #fbfffe;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.products {
  gap: 45px;
}

.our-designs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 114px;
}

#language {
  display: none;
}

.custom-select {
  position: relative;
}

.select-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-size: 16px;
  color: #25313c;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  z-index: 11;
}

.select-options li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

#select-arrow {
  stroke: #fbfffe;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.custom-select.active .select-options {
  display: block;
}

.basket {
  position: relative;
}

.basket svg {
  cursor: pointer;
}

.basket__dot {
  position: absolute;
  bottom: 2px;
  right: -5px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #23ce6b;
}

.burger {
  display: none;
}

#fsq {
  padding: 40px 0 168px 0;
  background-color: #fbfffe;
}

.breadcrumbs {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}

.breadcrumbs span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.breadcrumbs span:nth-child(3) {
  color: #6d7d8b;
}

.fsq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fsq__title {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.8px;
  margin-bottom: 40px;
}

.fsq__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 800px;
  padding: 24px 32px;
  gap: 40px;
  border: 1px solid #1c1c1c;
  background: #fff;
  margin-bottom: 128px;
}

.fsq__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.fsq__list-item .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.fsq__list-item .top h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.fsq__list-item .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.fsq__list-item .bottom .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}

.fsq__list-item .bottom p {
  color: #25313c;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.fsq__question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  padding: 24px 40px 32px 40px;
  border: 1px solid #1c1c1c;
  background: #fff;
}

.fsq__question h2 {
  color: #1c1c1c;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.8px;
  margin-bottom: 16px;
}

.fsq__question p {
  color: #25313c;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 24px;
}

.fsq__question button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: #fbfffe;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 560px;
  height: 64px;
  padding: 24px 0px;
  gap: 10px;
  background: #23ce6b;
  border: 1px solid #23ce6b;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fsq__question button svg {
  fill: #fbfffe;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fsq__question button:hover {
  background: #fbfffe;
  color: #23ce6b;
}

.fsq__question button:hover svg {
  fill: #23ce6b;
}

#main {
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

.main__title {
  margin-top: 203px;
  color: #1c1c1c;
  font-size: 56px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -1.12px;
  text-transform: uppercase;
}

.main__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: 9px;
  margin-bottom: 16px;
}

.main__text-top {
  color: #25313c;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.48px;
  margin-bottom: 9px;
}

.main__text-bottom {
  color: #25313c;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.48px;
}

.main__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 47px;
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 581px;
  height: 122px;
  padding: 32px 24px 42px 24px;
  border-radius: 5px 5px 0px 0px;
  background: rgba(251, 255, 254, 0.65);
}

.main__btns .btn-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 12px 20px;
  width: 243px;
  height: 48px;
  color: #fbfffe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #1c1c1c;
  background: #1c1c1c;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.main__btns .btn-dark svg {
  fill: #fbfffe;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main__btns .btn-dark:hover svg {
  fill: #1c1c1c;
}

.main__btns .btn-dark:hover {
  color: #1c1c1c;
  background: #fbfffe;
}

.main__btns .btn-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 12px 20px;
  width: 243px;
  height: 48px;
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #1c1c1c;
  background: #fbfffe;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.main__btns .btn-light svg {
  fill: #1c1c1c;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.main__btns .btn-light:hover svg {
  fill: #fbfffe;
}

.main__btns .btn-light:hover {
  color: #fbfffe;
  background: #1c1c1c;
}

#not-found {
  padding-top: 40px;
  padding-bottom: 128px;
}

.breadcrumbs {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}

.breadcrumbs span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.breadcrumbs span:nth-child(3) {
  color: #6d7d8b;
}

.not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 88px;
  padding: 64px 0px 96px 0px;
}

.not-found__info span {
  color: #32d583;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 12px;
}

.not-found__info h3 {
  color: #000;
  font-size: 48px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.96px;
  margin-bottom: 24px;
}

.not-found__info p {
  width: 480px;
  color: #25313c;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}

.not-found__info__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
}

.not-found__info__btns .btn-white {
  color: #344054;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid #bbc8d4;
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.not-found__info__btns .btn-white svg {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  stroke: #344054;
}

.not-found__info__btns .btn-white:hover {
  color: #fff;
  background: #344054;
}

.not-found__info__btns .btn-white:hover svg {
  stroke: #fff;
}

.not-found__info__btns .btn-green {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid #32d583;
  background: #32d583;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.not-found__info__btns .btn-green svg {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  stroke: #344054;
}

.not-found__info__btns .btn-green:hover {
  color: #344054;
  background: #fff;
}

#patents {
  background-color: #fbfffe;
  padding-bottom: 128px;
}

.breadcrumbs {
  margin-top: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}

.breadcrumbs span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.breadcrumbs span:nth-child(3) {
  color: #6d7d8b;
}

.patents {
  padding-left: 16px;
  padding-right: 16px;
}

.patents__title {
  color: #1c1c1c;
  font-size: 40px;
  font-weight: 400;
  line-height: 62px;
  margin-bottom: 89px;
}

.patents__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
  margin-bottom: 64px;
}

.patents__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #1c1c1c;
  background: #fff;
}

.patents__list-item .item-content {
  padding: 24px;
}

.patents__list-item .item-content h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 12px;
}

.patents__list-item .item-content p {
  color: #25313c;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 24px;
}

.patents__list-item .item-content button {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 20px;
  border: 1px solid #32d583;
  background: #32d583;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.patents__list-item .item-content button:hover {
  background: #fff;
  color: #25313c;
}

#footer {
  position: fixed;
  bottom: -100%;
  left: 0;
  background-color: #1c1c1c;
  padding: 72px 0 29px 0;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__list-one {
  width: 350px;
  margin-right: 20px;
}

.footer__list-one img {
  margin-bottom: 40px;
}

.footer__list-one p {
  color: #fbfffe;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.footer__list-one a {
  display: block;
  color: #fbfffe;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-decoration-line: underline;
}

.footer__list-one a:nth-child(1) {
  margin-bottom: 8px;
}

.footer__list-one .list__icons {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}

.footer__list-one .list__icons-item img {
  margin-bottom: 0;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list-two {
  margin-right: 32px;
  width: 160px;
}

.footer__list-two .sub-list-title {
  color: #fbfffe;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 24px;
}

.footer__list-two .sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
}

.footer__list-two .sub-list-item {
  color: #fbfffe;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.footer__list-three {
  margin-top: 55px;
}

.footer__list-three h5 {
  color: #fbfffe;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 24px;
}

.footer__list-three ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
}

.footer__list-three ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  height: 24px;
}

.footer__form {
  border: 1px solid #fbfffe;
  width: 558px;
}

.footer__form .form {
  padding: 16px 80px 29px 80px;
}

.footer__form .form__title {
  color: #fbfffe;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.48px;
  margin-bottom: 8px;
}

.footer__form .form__label {
  display: block;
  color: #fbfffe;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 16px;
}

.footer__form .form__input {
  width: 100%;
  color: #1c1c1c;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  border: 1px solid #1c1c1c;
  background: #fff;
  padding: 10px 14px;
  height: 40px;
  margin-bottom: 24px;
}

.footer__form .form__input::-webkit-input-placeholder {
  color: #9096a3;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.footer__form .form__input::-moz-placeholder {
  color: #9096a3;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.footer__form .form__input:-ms-input-placeholder {
  color: #9096a3;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.footer__form .form__input::-ms-input-placeholder {
  color: #9096a3;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.footer__form .form__input::placeholder {
  color: #9096a3;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.footer__form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  color: #1c1c1c;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  width: 100%;
  border-top: 1px solid #fbfffe;
  background: #fbfffe;
  padding: 24px 0px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.footer__form-btn svg {
  fill: #1c1c1c;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer__form-btn:hover {
  background: #1c1c1c;
  color: #fbfffe;
}

.footer__form-btn:hover svg {
  fill: #fbfffe;
}

#news {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #1c1c1c;
}

.news {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.news-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.news p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  .main__title {
    margin-top: 100px;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  #header .container {
    padding: 0 20px;
  }

  .header__nav {
    display: none;
  }

  .header__select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    gap: 10px;
    color: #fbfffe;
    margin-right: 18px;
  }

  .mobile__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 18px;
    margin-bottom: 18px;
  }

  .mobile__nav-item {
    font-size: 12px;
    color: #fbfffe;
  }

  #menu {
    padding: 0;
  }

  #menu .container {
    padding: 0 20px;
  }

  .menu__item {
    gap: 10px;
  }

  .menu__item-img {
    width: 86px;
    height: 76px;
  }

  .menu__item-info h5 {
    font-size: 14px;
    margin-bottom: 6px;
    line-height: 120%;
  }

  .menu__item-info p {
    font-size: 12px;
    line-height: 130%;
  }

  .menu__item-btn {
    width: 100%;
  }

  .menu__item-btn .btn {
    width: 100%;
  }

  .products {
    display: none;
    gap: 20px;
    margin-bottom: 20px;
  }

  .our-designs {
    display: none;
    gap: 20px;
    margin-bottom: 20px;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
    width: 33px;
    height: 33px;
    stroke: #fbfffe;
  }

  #fsq {
    padding: 20px 0 100px 0;
  }

  .breadcrumbs {
    margin-bottom: 20px;
    gap: 16px;
  }

  .breadcrumbs span {
    font-size: 14px;
  }

  .fsq__title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .fsq__list {
    width: 100%;
    padding: 12px 16px;
    gap: 20px;
    margin-bottom: 60px;
  }

  .fsq__list-item {
    gap: 12px;
  }

  .fsq__list-item .top {
    gap: 12px;
  }

  .fsq__list-item .top h4 {
    font-size: 18px;
  }

  .fsq__list-item .bottom {
    gap: 12px;
  }

  .fsq__list-item .bottom .text {
    gap: 8px;
  }

  .fsq__list-item .bottom p {
    font-size: 12px;
  }

  .fsq__question {
    width: 100%;
    padding: 12px 16px;
  }

  .fsq__question h2 {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 8px;
  }

  .fsq__question p {
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 20px;
  }

  .fsq__question button {
    font-size: 16px;
    gap: 8px;
    width: 375px;
    height: 44px;
    padding: 12px 0;
  }

  #not-found {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .breadcrumbs {
    margin-bottom: 20px;
    gap: 16px;
  }

  .breadcrumbs span {
    font-size: 14px;
  }

  .not-found {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 44px;
    padding: 32px 0px 48px 0px;
  }

  .not-found__info span {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .not-found__info h3 {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 30px;
  }

  .not-found__info p {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .not-found__info__btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  #patents {
    padding-bottom: 60px;
  }

  .breadcrumbs {
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 16px;
  }

  .breadcrumbs span {
    font-size: 14px;
  }

  .patents {
    padding: 0;
  }

  .patents__title {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .patents__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 30px;
  }

  .patents__list-item {
    width: 40%;
  }

  .patents__list-item .item-content {
    padding: 12px;
  }

  .patents__list-item .item-content h5 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .patents__list-item .item-content p {
    margin-bottom: 12px;
  }

  .patents__list-item .item-content button {
    font-size: 14px;
    padding: 10px;
  }

  #footer {
    padding: 23px 0 12px 0;
    height: calc(100vh - 40px);
    overflow: auto;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .footer__list-one {
    width: 100%;
  }

  .footer__list-one img {
    margin-bottom: 20px;
  }

  .footer__list-one .list__icons {
    margin-top: 16px;
  }

  .footer__wrap {
    margin-bottom: 20px;
  }

  .footer__list-three {
    margin-top: 0;
  }

  .footer__form {
    width: 100%;
  }

  .footer__form .form {
    padding: 0 20px 10px 20px;
  }

  .news p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .fsq__question h2 {
    font-size: 18px;
    margin-bottom: 0;
  }

  .fsq__question p {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .main__title {
    font-size: 36px;
    line-height: 50px;
  }

  .main__text-top {
    font-size: 18px;
  }

  .main__text-bottom {
    font-size: 18px;
  }

  .main__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
    width: 320px;
    height: 200px;
  }

  .not-found__info p {
    width: 100%;
  }

  .not-found__info__btns .btn-white {
    padding: 8px 10px;
    font-size: 14px;
  }

  .not-found__info__btns .btn-green {
    padding: 8px 10px;
    font-size: 14px;
  }

  .footer__list-one p {
    font-size: 12px;
  }

  .footer__list-one a {
    font-size: 12px;
  }

  .footer__list-one .list__icons {
    gap: 16px;
  }

  .footer__list-two {
    margin-right: 0;
  }

  .footer__list-two .sub-list-title {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .footer__list-two .sub-list-item {
    font-size: 14px;
  }

  .footer__list-three h5 {
    font-size: 16px;
    margin-bottom: 0px;
  }

  .footer__list-three ul {
    gap: 12px;
  }

  .footer__form .form__title {
    font-size: 16px;
    margin-bottom: 0;
  }

  .footer__form .form__label {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .footer__form .form__input {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .footer__form .form__input::-webkit-input-placeholder {
    font-size: 12px;
  }

  .footer__form .form__input::-moz-placeholder {
    font-size: 12px;
  }

  .footer__form .form__input:-ms-input-placeholder {
    font-size: 12px;
  }

  .footer__form .form__input::-ms-input-placeholder {
    font-size: 12px;
  }

  .footer__form .form__input::placeholder {
    font-size: 12px;
  }

  .footer__form-btn {
    font-size: 14px;
    padding: 6px 0;
  }
}

@media (max-width: 600px) {
  .patents__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .patents__list-item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .fsq__question button {
    width: 100%;
  }

  .main__title {
    font-size: 24px;
    line-height: 30px;
  }

  .main__line {
    margin-bottom: 9px;
  }

  .main__text-top {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
  }

  .main__text-bottom {
    font-size: 16px;
    line-height: 25px;
  }

  .not-found__info__btns .btn-white {
    width: 100%;
  }

  .not-found__info__btns .btn-green {
    width: 100%;
  }
}