#footer {
  position: fixed;
  z-index: 10;
  bottom: -100%;
  left: 0;
  background-color: $bg-dark;
  padding: 72px 0 29px 0;
  width: 100%;
  @include transition;
  @media (max-width: 991px) {
    padding: 23px 0 12px 0;
    height: calc(100vh - 40px);
    overflow: auto;
  }
}
.footer {
  @include flex(row, flex-start, flex-start);
  @media (max-width: 991px) {
    @include flex(column, flex-start, flex-start);
  }
}
.footer__list-one {
  width: 350px;
  margin-right: 20px;
  @media (max-width: 991px) {
    width: 100%;
  }
  img {
    margin-bottom: 40px;
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }
  p {
    color: $bg-light;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  a {
    display: block;
    color: $bg-light;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-decoration-line: underline;
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  a:nth-child(1) {
    margin-bottom: 8px;
  }
  .list__icons {
    margin-top: 40px;
    @include flex(row, flex-start, flex-start);
    gap: 32px;
    @media (max-width: 991px) {
      margin-top: 16px;
    }
    @media (max-width: 768px) {
      gap: 16px;
    }
    &-item {
      img {
        margin-bottom: 0;
      }
    }
  }
}

.footer__wrap {
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  @media (max-width: 991px) {
    margin-bottom: 20px;
  }
}

.footer__list-two {
  margin-right: 32px;
  width: 160px;
  @media (max-width: 768px) {
    margin-right: 0;
  }
  .sub-list-title {
    color: $bg-light;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 24px;
    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }
  .sub-list {
    @include flex(column, flex-start, flex-start);
    gap: 12px;
    &-item {
      color: $bg-light;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

.footer__list-three {
  margin-top: 55px;
  @media (max-width: 991px) {
    margin-top: 0;
  }
  h5 {
    color: $bg-light;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 24px;
    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 0px;
    }
  }
  ul {
    @include flex(row, flex-start, flex-start);
    gap: 16px;
    @media (max-width: 768px) {
      gap: 12px;
    }
  }
  ul > li {
    @include flex(row, center, center);
    width: 34px;
    height: 24px;
  }
}

.footer__form {
  border: 1px solid #fbfffe;
  width: 558px;
  @media (max-width: 991px) {
    width: 100%;
  }
  .form {
    padding: 16px 80px 29px 80px;
    @media (max-width: 991px) {
      padding: 0 20px 10px 20px;
    }
    &__title {
      color: $bg-light;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      line-height: 60px;
      letter-spacing: -0.48px;
      margin-bottom: 8px;
      @media (max-width: 768px) {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
    &__label {
      display: block;
      color: $bg-light;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 16px;
      @media (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 6px;
      }
    }
    &__input {
      width: 100%;
      color: $bg-dark;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      border: 1px solid #1c1c1c;
      background: #fff;
      padding: 10px 14px;
      height: 40px;
      margin-bottom: 24px;
      @media (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
    &__input::placeholder {
      color: #9096a3;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
  &-btn {
    @include flex(row, center, center);
    gap: 12px;
    color: $bg-dark;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 100%;
    border-top: 1px solid #fbfffe;
    background: #fbfffe;
    padding: 24px 0px;
    @include transition;
    cursor: pointer;
    @media (max-width: 768px) {
      font-size: 14px;
      padding: 6px 0;
    }
    svg {
      fill: $bg-dark;
      @include transition;
    }
    &:hover {
      background: $bg-dark;
      color: $bg-light;
    }
    &:hover svg {
      fill: $bg-light;
    }
  }
}

#news {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #1c1c1c;
}
.news {
  position: relative;
  z-index: 10;
  @include flex(row, flex-start, center);
  gap: 16px;
  &-btn {
    @include flex(row, center, center);
    cursor: pointer;
    @include transition;
  }
  p {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    @media (max-width: 991px) {
      font-size: 14px;
    }
  }
}
