#main {
  background-image: url(../images/main.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
}
.main {
  @include flex(column, center, flex-start);
  width: 100%;
  height: 100%;
  &__title {
    margin-top: 203px;
    color: $bg-dark;
    font-size: 56px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: -1.12px;
    text-transform: uppercase;
    @media (max-width: 1280px) {
      margin-top: 100px;
    }
    @media (max-width: 768px) {
      font-size: 36px;
      line-height: 50px;
    }
    @media (max-width: 480px) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    margin-top: 9px;
    margin-bottom: 16px;
    @media (max-width: 480px) {
      margin-bottom: 9px;
    }
  }
  &__text-top {
    color: $text;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.48px;
    margin-bottom: 9px;
    @media (max-width: 768px) {
      font-size: 18px;
    }
    @media (max-width: 480px) {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 0;
    }
  }
  &__text-bottom {
    color: $text;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: -0.48px;
    @media (max-width: 768px) {
      font-size: 18px;
    }
    @media (max-width: 480px) {
      font-size: 16px;
      line-height: 25px;
    }
  }
  &__btns {
    @include flex(row, center, center);
    gap: 47px;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, 0);
    width: 581px;
    height: 122px;
    padding: 32px 24px 42px 24px;
    border-radius: 5px 5px 0px 0px;
    background: rgba(251, 255, 254, 0.65);
    @media (max-width: 768px) {
      @include flex(column, center, center);
      gap: 25px;
      width: 320px;
      height: 200px;
    }
    .btn-dark {
      @include flex(row, center, center);
      gap: 8px;
      padding: 12px 20px;
      width: 243px;
      height: 48px;
      color: $bg-light;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border: 1px solid $bg-dark;
      background: $bg-dark;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      @include transition;
      cursor: pointer;
      svg {
        fill: $bg-light;
        @include transition;
      }
      &:hover svg {
        fill: $bg-dark;
      }
      &:hover {
        color: $bg-dark;
        background: $bg-light;
      }
    }
    .btn-light {
      @include flex(row, center, center);
      gap: 8px;
      padding: 12px 20px;
      width: 243px;
      height: 48px;
      color: $bg-dark;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border: 1px solid $bg-dark;
      background: $bg-light;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      @include transition;
      cursor: pointer;
      svg {
        fill: $bg-dark;
        @include transition;
      }
      &:hover svg {
        fill: $bg-light;
      }
      &:hover {
        color: $bg-light;
        background: $bg-dark;
      }
    }
  }
}

.popup-call {
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bg-light;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
    width: 603px;
    height: 340px;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  &-content__header {
    @include flex(row, space-between, center);
    padding: 16px 24px;
    background: #eaecf0;
    h4 {
      @include flex(row, flex-start, center);
      gap: 12px;
    }
  }
  &-content__form {
    @include flex(column, flex-start, flex-start);
    padding: 24px;
  }
  &-content__input {
    width: 100%;
    .input {
      position: relative;
      margin-bottom: 16px;
    }
    img {
      position: absolute;
      left: 14px;
      top: 50%;
      transform: translate(0, -50%);
    }
    label {
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 6px;
    }
    input {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      width: 100%;
      padding: 10px 14px 10px 40px;
      border: 1px solid #d0d5dd;
      background: #fff;
      &::placeholder {
        color: #9096a3;
      }
    }

    textarea {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      width: 100%;
      height: 80px;
      border: 1px solid #d0d5dd;
      background: #fff;
      font-family: $font-main;
      padding: 10px 14px;
      resize: none;
      margin-bottom: 24px;
      &::placeholder {
        color: #9096a3;
      }
    }
  }
  &-content__btn {
    @include flex(row, center, center);
    gap: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    width: 100%;
    padding: 24px 0px;
    background: $bg-dark;
    border: 1px solid $bg-dark;
    @include transition;
    svg {
      fill: $bg-light;
      @include transition;
    }
    &:hover {
      background: $bg-light;
      color: $bg-dark;
    }
    &:hover svg {
      fill: $bg-dark;
    }
  }
}

.close-button {
  @include flex(row, center, center);
  padding: 8px;
  width: 36px;
  height: 36px;
  border: 1px solid $bg-dark;
  background: $bg-dark;
  svg {
    stroke: $bg-light;
  }
}
