@import 'config/vars';

@import 'config/fonts';

@import 'config/mixins';

@import 'config/dropstyles';

@import 'config/global';

@import 'components/header';

@import 'components/first-page';

@import 'components/product';

@import 'components/footer';
