@import 'config/vars';

@import 'config/fonts';

@import 'config/mixins';

@import 'config/dropstyles';

@import 'config/global';

@import 'components/header';

@import 'components/fsq';

@import 'components/main';

@import 'components/not-found';

@import 'components/patents';

@import 'components/contacts';

@import 'components/delivery';

@import 'components/catalog';

@import 'components/about-us';

@import 'components/checkout';

@import 'components/footer';
